<!DOCTYPE html>
<html>
<head>
  <title>UNMH Maternity Room| Electronic Whiteboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
</head>
<body>

<%= yield %>

</body>
</html>
